@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

* {
    margin: 0;
}

html{
    font-family: 'Noto Serif TC', serif;
    background-color: #EFEAE4;
    margin: 0;
}

.member_container{
    height: 100%;
    overflow-y: scroll;
    background-color: #EFEAE4;
    color: #33332E;
}

.info_list{
    background-color: #EFEAE4;
    border-radius: 0.3rem;
}

.profile{
    display: flex;
}

.profile_info{
    width: 40%;
}

.profile_name{
    width: 58%;
    color: #33332E;
    font-size: 25px;
    margin-left: 3%;
    margin-top: 3%;
}

.profile_img{
    width: 40%;
    margin: 5% 0% 5% 65%;
    border-radius: 15rem;
}

.profile_detail{
    width: 35%;
    margin-top: 1.5%;
    margin-left: 5%;
}

.icon{
    display: flex;
}

.editicon{
    background-color: #EFEAE4;
    border: 0;
    font-size: 25px;
    margin-top: 3%;
    cursor: pointer;
}

.editicon:hover{
    color: #ffffff;
}

.detail{
    margin: 2%;
    padding: 1%;
    font-size: 13px;
}

.info_btn{
    font-family: 'Noto Serif TC', serif;
    cursor: pointer;
    border: 0;
    text-align: center;
    width: 70%;
    font-size: 13px;
    border-radius: 0.2rem;
    background-color: #ffffff;
}

.title{
    padding-bottom: 2%;
    font-size: 25px;
    text-align: center;
}

.bag_img_list{
    padding: 0% 2%;
}

.bag_img{
    padding: 2%;
    width: 20%;
    margin: 0;
}

.bag_order_all{
    display: flex;
}

.btn_list{
    padding-left: 2%;
    width: 25%;
    float: left;
}

.btn_list_btn > button{
    width: 45%;
    text-align: center;
    cursor: pointer;
    background-color: #EFEAE4;
    border: 0;
    padding: 2%;
    margin-bottom: 5%;
    color: #33332E;
    font-size: 15px;
    font-family: 'Noto Serif TC', serif;
}

.btn_list_btn > button:hover{
    background-color: #ffffff;
    border-radius: 0.3rem;
}

.btn_list_btn > button:focus{
    background-color: #ffffff;
    border-radius: 0.3rem;
}

.forpages{
    width: 75%;
}

.bag_order_list{
    display: flex;
    padding-bottom: 3%;
}

.bag_order{
    width: 20%;
    margin: 0% 2%;
    border-radius: 0.5rem;
    background-color: #ffffff;
    text-align: center;
    float: left;
}

.bag_order_img{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.bag_order_info{
    padding: 4.5% 0%;
}

.bag_order_info_word{
    font-size: 12px;
    margin-bottom: 2%;
}

@media screen and (min-width: 431px) and (max-width: 1024px){
    .profile_name{
        margin-top: 0;
    }

    .editicon{
        margin-top: 1%;
    }
}

@media screen and (min-width: 100px) and (max-width: 430px){
    .member_container{
        z-index: -1;
        position: fixed;
        height: 85%;
    }

    .profile{
        display: block;
    }

    .profile_img{
        width: 100%;
        margin-left: 75%;
    }

    .profile_detail{
        width: 80%;
        margin-left: 20%;
        margin-top: 0;
    }

    .detail{
        font-size: 12px;
    }

    .info_btn{
        width: 75%;
        font-size: 12px;
    }

    .bag_img {
        width: 33.3%;
    }

    .title{
        padding: 2%;
        font-size: 20px;
    }

    .profile_name{
        width: 60%;
        font-size: 20px;
    }

    .bag_order_all{
        display: block;
    }
    
    .editicon{
        font-size: 20px;
    }

    .btn_list{
        text-align: center;
        display: flex;
        width: 80%;
        padding: 0;
        margin-left: 10%;

    }

    .btn_list_btn{
        width: 25%;
    }

    .btn_list_btn > button{
        width: 100%;
        font-size: 10px;
        padding: 5% 0%;
    }

    .forpages{
        width: 100%;
    }

    .bag_order_list{
        display: inline-flex;
        flex-wrap: wrap;
    }

    .bag_order{
        width: 40%;
        margin: 3% 5%;
    }

    .bag_order_info{
        padding: 2% 0%;
    }

    .padding{
        padding-bottom: 0%;
    }
    
    .bag_order_info_word{
        font-size: 12px;
        transform: scale(0.9);
        margin-bottom: 2%;
    }
}